.titulos-tema {
    align-items: center;
    color: #e5e2e1;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 20px; /* Adicionar espaço entre o título e os filmes */
    position: relative;
    white-space: nowrap;
    width: 10.5%; /* Estica a caixa do título */
    justify-content: flex-start; /* Trava o ícone e o texto na esquerda */
    gap: 12px;
    
}

.titulos-tema .icon {
    height: 34px;
    align-items: flex-start;
    width: 25px;
    object-fit: contain; /* Garante que o ícone caiba no espaço sem distorcer */
    margin-left: 87%;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    gap: 12px;
}